<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-5.jpg)"></div>
    </div>

    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <button type="submit" class="btn btn-info btn-fill pull-right" (click)="order()">Đặt
                            Hàng</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div>
            <footer-cmp></footer-cmp>
        </div>
    </div>
</div>